.page {
    width: 100%;
    max-width: 1184px;

    display: flex;
    flex-direction: column;

    margin: 0 auto;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .page {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .page {
        max-width: 768px;
    }
}

@media screen and (max-width: 425px) {
    .page {
        max-width: 320px;
    }
}

