.place__url-link {
    width: 100%;
    max-width: 456px;

    font-size: 18px;
    line-height: 1.2;

    color: #fff;

    margin-top: 12px;

    opacity: 1;
    transition: opacity 0.3s linear;
}

.place__url-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .place__url-link {
        max-width: 352px;
    }
}

@media screen and (max-width: 600px) {
    .place__url-link {
        max-width: 288px;
    }
}