.header__logo {
    width: 100%;
    max-width: 176px;
    min-height: 52px;

    background-image: url("../../../images/header-logo.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    object-fit: contain;
    object-position: center;
}

@media screen and (max-width: 425px) {
    .header__logo {
        max-width: 142px;
        min-height: 42px;
    }
}