.intro {
    width: 95%;
    max-width: 984px;

    display: flex;
    flex-direction: column;

    margin: 92px auto 0;
}

@media screen and (max-width: 1024px) {
    .intro {
        max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 720px;

        margin: 88px auto 0;
    }
}

@media screen and (max-width: 425px) {
    .intro {
        max-width: 288px;

        margin-top: 64px;
    }
}