.cover__overlay {
    width: 100%;
    max-width: 1184px;
    min-height: 740px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    color: #fff;

    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        max-width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        max-width: 768px;
        min-height: 480px;
    }

}

@media screen and (max-width: 425px) {
    .cover__overlay {
        max-width: 320px;
        min-height: 200px;
    }
}
