.cover__overlay {
    display: flex;
    flex-direction: column;

    padding-top: 245px;
    padding-bottom: 245px;

    text-decoration: none;
    color: #fff;

    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        padding-top: 195px;
        padding-bottom: 195px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        padding-top: 115px;
        padding-bottom: 115px;
    }
}

@media screen and (max-width: 425px) {
    .cover__overlay {
        padding-top: 33px;
        padding-bottom: 33px;
    }
}