.footer__links-list {
    list-style-type: none;

    display: flex;
    flex-direction: row;

    margin: 0;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .footer__links-list {
        flex-direction: column;
    }
}