.place__url-heading {
    width: 100%;
    max-width: 456px;

    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.2em;

    margin: 0;

    color: #AAAAAA;
}

@media screen and (max-width: 768px) {
    .place__url-heading {
        max-width: 352px;
    }
}

@media screen and (max-width: 425px) {
    .place__url-heading {
        max-width: 288px;
    }
}