.place__website {
    width: 100%;
    max-width: 456px;

    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: end;
}

@media screen and (max-width: 768px) {
    .place__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 320px) {
    .place__website {
        display: flex;
        flex-direction: column;

        max-width: 288px;

        align-self: center;
    }
}